---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: agf234/gradle
    tag: "2.0"

run:
  path: pipeline-repo/ci/scripts/build.sh

inputs:
- name: pipeline-repo
- name: spring-music

